
VideoPlayer/.DS_Store
.DS_Store
ios/
VideoPlayer/VideoPlayer.pro.user
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/.qmake.stash
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/Costumslider.o
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/lymcodationlock.o
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/lymvideoplayer.o
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/LYMVideoPlayer_audio.o
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/LYMVideoPlayer_video.o
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/main.o
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/mainwindow.o
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/Makefile
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/moc_CostumSlider.cpp
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/moc_CostumSlider.o
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/moc_lymvideoplayer.cpp
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/moc_lymvideoplayer.o
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/moc_mainwindow.cpp
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/moc_mainwindow.o
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/moc_predefs.h
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/moc_videorenderwidget.cpp
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/moc_videorenderwidget.o
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/ui_mainwindow.h
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/VideoPlayer.app/Contents/Info.plist
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/VideoPlayer.app/Contents/MacOS/VideoPlayer
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/VideoPlayer.app/Contents/PkgInfo
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/VideoPlayer.app/Contents/Resources/empty.lproj
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/videorenderwidget.o
build-VideoPlayer-Desktop_x86_darwin_generic_mach_o_64bit-Debug/OpenGLDisplay.o
FFmpeg3.3.2-Android-x264-opus-aac-ssl.zip
